@model IEnumerable<IUERM_RRS.Schedule>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SCH_StewardDomain)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SCH_RetentionArea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SCH_RetentionSubArea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SCH_RetentionAreaDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SCH_Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SCH_Coordinator)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SCH_RecordSeries)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SCH_RecordSeriesCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SCH_Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SCH_Active)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SCH_Vital)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SCH_Reason)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.SCH_RquiresCertDestruction)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SCH_CreationDate)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.AreaScope.AS_Scope)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DispositionOption.DOP_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GoverningPolicy.GPO_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GoverningRegulation.GRE_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GoverningStatute.GST_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OfficeOfRecord.OOR_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OfficialRecordMedium.ORM_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Retainer.RET_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Retention.RET_BasedOnCode)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SCH_StewardDomain)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SCH_RetentionArea)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SCH_RetentionSubArea)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SCH_RetentionAreaDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SCH_Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SCH_Coordinator)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SCH_RecordSeries)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SCH_RecordSeriesCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SCH_Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SCH_Active)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SCH_Vital)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SCH_Reason)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.SCH_RquiresCertDestruction)
        </td>*@
        @*<td>
            @Html.DisplayFor(modelItem => item.SCH_CreationDate)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.AreaScope.AS_Scope)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DispositionOption.DOP_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GoverningPolicy.GPO_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GoverningRegulation.GRE_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GoverningStatute.GST_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OfficeOfRecord.OOR_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OfficialRecordMedium.ORM_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Retainer.RET_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Retention.RET_BasedOnCode)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SCH_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SCH_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SCH_ID })
        </td>
    </tr>
}

</table>
