@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{

<ul class="nav navbar-nav navbar-right">
    <li>
        <strong>Hello   @User.Identity.GetUserName() !</strong>
    </li>
    @if (User.IsInRole("SuperAdmin"))
    {
        <li>@Html.ActionLink("Admin Users", "Index", "User", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    }
    @if (User.IsInRole("Admin"))
    {
        <li>@Html.ActionLink("Admin Data", "Grid", "Schedule", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    }
    <li>@Html.ActionLink("Log Off", "LogOff", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
</ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
